<div class="tabs">
    <%= link_to (image_tag 'list', class: "food-list-tab", alt: 'view list', title:'view list', id: 'inactive-tab'), user_path(current_user), data: {turbolinks: false}  %>
    <%= link_to (image_tag 'pantry', class: "pantry-tab", alt:'view pantry', title:'view pantry', id: 'inactive-tab'), user_pantry_show_path(current_user), data: {turbolinks: false} %>
</div>
