<div class="tabs">

    <%= link_to (image_tag 'list', class: "food-list-tab", alt: 'view list', title:'view list'), user_path(current_user), class:"food-list-a list-tab #{food_list_tab}"  %>

    <%= link_to (image_tag 'pantry', class: "pantry-tab", alt:'view pantry', title:'view pantry'), user_pantry_show_path(current_user), class:"pantry-list-a list-tab #{pantry_tab}" %>

</div>
