/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body, html{
     min-width: 100%;
     font-family: sans-serif;
 }


 header {
   height: 70px;
   width: 100%;
   display: block;
   display: block;
   padding: 10px;
   font-weight: lighter;
   display: inline-block;
   text-decoration: none;
 }

#nav {
  text-align: right;
  margin-top: 15px;
}
#nav a {
  color: white;
  text-decoration: none;
  padding-right: 15px;
}

.head-link {
  overflow: hidden;
}

header #logo {
  float: left;
  font-family: 'Architects Daughter', cursive;
  font-size: 24px;
}

body {
  margin: 0;
  background-color: #faf9f4;
}

@media (max-width: 650px) {

  span.twitter-typeahead {
    width: 350px;
  }

  .food-list {
    margin: 80px auto;
    width: 90%;
  }

  .food-name {
    font-size: 24px;
  }

  .list-wrapper {
    overflow: hidden;
  }

  .tabs {
  width: 100%;
  display: block;
  background-color: #faf9f4;
  }

  .tabs a {
    width: 49%;
  }

  .pantry-tab, .food-list-tab {
    display: inline;
    width: 40%;
    margin: auto;
  }

  .food-list-tab {
    float: left;
    width: 30px;
    margin-left: 20%;
    border-top: none;
    border-bottom: 2px solid #26bb7f;
    border-right: 2px solid #26bb7f;
    border-left: 2px solid #26bb7f;
    border-radius: 0px 0px 5px 5px;
  }

  img.food-list-tab, img.pantry-tab {
    width: 80px;
    padding: 5px 20px;
  }

  .pantry-tab {
    float: right;
    margin-right: 20%;
    border-top: none;
    border-bottom: 2px solid #26bb7f;
    border-right: 2px solid #26bb7f;
    border-left: 2px solid #26bb7f;
    border-radius: 0px 0px 5px 5px;
  }

  #missing, #empty-list {
    display: block;
    width: 250px;
    margin: 10px auto;
  }

  #produce, #food-search {
    height: 195px;
  }

}
