/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 body, html{
     min-width: 100%;
     font-family: sans-serif;
     margin: 0;
 }

 body {
   background-color: #faf9f4;
 }

 header {
   height: 70px;
   width: 100%;
   display: block;
   display: block;
   padding: 10px;
   font-weight: lighter;
   display: inline-block;
   text-decoration: none;
 }

#nav {
  text-align: right;
  margin-top: 15px;
}
#nav a, #nav-bar a {
  color: white;
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 5px;
}


.head-link {
  overflow: hidden;
}

header #logo {
  float: left;
  font-family: 'Architects Daughter', cursive;
  font-size: 24px;
}

.notice {
  color: white;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 30px;
}

@media (max-width: 340px){
  * {
    max-width: 320px;
  }

  .food-list, .food-list-item{
    max-width: 320px;
    margin: 0px;
    min-width: 0px;
  }

  #nav a {
    font-size: 15px;
  }

  #nav-bar a {
    font-size: 15px;
  }

  #edit-form input, select {
    max-width: 172px;
    float: right;
    margin-left: 20px;
  }
  .diet_field, .dietary_restrictions_field, .user_information_field{
    max-width: 190px;
    padding-right: 10px;
    overflow: hidden;
  }

  .empty-list, .missing{
    margin-top: none;
  }

  .food-list li{
    margin-right: 0px;
  }
}

@media (min-width: 650px) {
  .tabs {
    width: 500px;
    margin: 0 auto;
  }
}

@media (max-width: 650px) {

  img.pantry-tab, img.food-list-tab {
    height: 40px;
  }

  #logo-new {
    width: 250px;
  }

  span.twitter-typeahead {
    width: 310px;
  }

  #new_food {
    width: 310px;
  }

  .food-list {
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    min-width: 360px;
    border-bottom: none;
  }

  .food-name {
    font-size: 24px;
  }

  .list-wrapper {
    margin-top: 185px;
  }

  #missing, #empty-list {
    display: inline;
    width: 160px;
    margin: 10px auto;
    padding-top: 5px;
    padding-bottom: 5px;
  }

  #food-search a {
    font-size: 18px;
  }

  #produce, #food-search {
    height: 185px;
  }

  div#food-search {
    height: 95px;
  }

  input.typeahead.tt-hint {
    height: 35px;
  }

  input#food_name {
    height: 35px;
  }

  .food-list li {
    padding: 12px;
    border: none;

  }

  #inactive-tab {
    border: none;
  }

}
