/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 header {
   height: 50px;
   width: 100%;
   display: block;
   position: fixed;
   top: 0;
   display: block;
   padding: 10px;
   font-weight: lighter;
   display: inline-block;
   text-decoration: none;
   z-index: 100;
   background: linear-gradient( 90deg, rgb(135, 184, 115), rgb(68, 163, 77), rgb(135, 184, 115) );
 }

#nav {
  text-align: right;
}

header #logo {
  float: left;
  font-family: 'Architects Daughter', cursive;
  font-size: 24px;
}

body {
  background: linear-gradient( 90deg, rgb(135, 184, 115), rgb(68, 163, 77), rgb(135, 184, 115) );
}
