.guide {
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  width: 90%;
  height: 90%;
  margin: auto;
  background-color: #faf9f4;
  border: 5px solid #26bb7f;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  text-align: center;
}


.guide p {
  padding: 5px;
  font-size: 18px;
}

.guide-steps-intro {
  font-size: 20px;
  padding: 20px 10px;
}

.get-started {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  padding-right: 20px;
  font-size: 28px;
  border: 2px solid white;
  background-color: #26bb7f;
  border-radius: 5px;
  position: absolute;
  bottom: 10px;
  left: 10%;
}
.get-started a {
text-decoration: none;
color: white;
}

.guide-step {
  font-size: 20px;
  padding: 10px;
  text-align: left;
  overflow: hidden;
}

.pantry-guide, .settings-guide {
  height: 40px;
  display: inline;
  float: left;
  padding-right: 15px;
}

.guide h2 {
  font-size: 28px;
  padding: 10px;
  font-family: 'Architects Daughter', cursive;
}

@media (max-width: 350px) {

.guide-steps {
  height: 80%;
  width: 90%;
  position: absolute;
  top: 20%;
  right: 5%;
}

.guide-close {
  display: none;
}

.guide-intro {
  display: none;
}

.get-started {
  padding: 0;
}

.guide-welcome {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 80%;
}

h2.guide-welcome {

  display: none;
}

h3.guide-steps-intro {
  padding: 8px;
}

  .guide-step {
    font-size: 16px;
    padding: 5px;
    text-align: left;
  }
}
