#selected-food {
  font-family: "Architects Daughter", cursive;
  margin: 0 20px 20px 20px;
  text-align: center;
  font-size: 2rem;
}

.info-close {
  width: 100%;
  text-align: right;
  padding: 10px;
  padding-right: 20px;
  font-size: 28px;
}

.info-close a {
  text-decoration: none;
    color: #26bb7f;
}

.information {
  display: none;
  z-index: 100;
  width:90%;
  height: 90%;
  position: fixed;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  background-color: #faf9f4;
  margin: auto;
  border: 5px solid #26bb7f;
  border-radius: 5px;
  padding: 5px;
  font-size: 22px;
}

.food-information {
  margin: 40px 10px;
}

#recommendations {
  margin: 10px;
}

.reco-list {
  padding: 20px;
  margin: auto;
  padding-left: 0;
}

.reco-list .food-name-wrapper {
    font-size: 26px;
}

ul.reco-list {
  width: 100%;
  padding: 20px 0px;
  margin-top: 50px;
}

.switch {
  width: 30px;

}
